<div class="container">
  <form class="form-signin login mt-4">
    <img class="mb-4" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/27bb7f19337157.562d8afe2546e.jpg" alt="" width="150" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
    <input type="email" id="inputEmail" class="form-control mb-2" placeholder="Email address" required autofocus>
    <input type="password" id="inputPassword" class="form-control mb-2" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
    <p class="mt-3 mb-3 text-muted">JobFinder &copy; 2023</p>
  </form>
</div>
