.card-modify
{
  position: relative;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
}

.jobs-dev{
  width: 420px;
  height: 480px;
}

.card-modify .jobs-dev .card-buttons {
  bottom: 10px;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
}

