<div class="container">

  <div class="container-custom mb-5">
    <iframe class="lotti" src="https://lottie.host/embed/cf97bece-04c8-4f6c-9406-176db1ffd6e7/yTiSXSVO7G.json"></iframe>
    <div class="text">
      <h4 class="text-center">Fast-Track Your Success & Ignite Your Career With Immediate Action!</h4>
      <div class="text-center">
        <p class="btn btn-success btn-custom">Join Us</p>
      </div>
    </div>
  </div>
  
  <h2 class="text-center m-5">Our Advantages</h2>
  
  <div class="card-container mb-3">

    <div class="card" style="width: 16rem; height: 550px;">
      <iframe class="lotti-card" src="https://lottie.host/embed/730be8ce-45ca-4384-9614-e9cb39b05017/UAFbSOhTPt.json"></iframe>
      <div class="card-body">
        <h6 class="card-title">Resume Builder</h6>
        <p class="card-text">Create stunning resumes with JobFinder's Resume Builder. Tailored templates, easy-to-use tools, and AI assistance make your job hunt stress-free.</p>
        <a href="#" class="btn btn-primary">Build Your Resume</a>
      </div>
    </div>

    <div class="card" style="width: 16rem; height: 550px;">
      <iframe class="lotti-card" src="https://lottie.host/embed/ca77019a-ae5c-4ada-bf55-3ba8c39d98b7/WumY6vLJub.json"></iframe>
      <div class="card-body">
        <h6 class="card-title">Interview Preparation</h6>
        <p class="card-text">Your trusted partner for job interviews. Prepare with our curated resources, boost your confidence, and secure your dream job!</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 16rem; height: 550px;">
      <iframe class="lotti-card-custom" src="https://lottie.host/embed/8023b78e-3f36-4f7c-8935-ff1ed04a0dd0/t08mOuJTzq.json"></iframe>
      <div class="card-body">
        <h6 class="card-title">Educational Services</h6>
        <p class="card-text">Connect with employers. Our partnerships with the best educational institutions provide a platform for achieving your career goals.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>
  
</div>