<div class="container-custom">
<form class="form-signin login mt-4">
   <h1 class="h3 mb-3 font-weight-normal">Registeration Form</h1>
   <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
   <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
   <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
   <input  type="checkbox" id="inputiSCompany" class="" required autofocus> Are You A Company <br> 
   <button class="btn btn-sm btn-primary btn-block mt-2" type="submit">Register</button>
   <a href="/login" class="btn btn-sm btn-secondary btn-block mt-2 mx-1">Already Have An Account?</a>
</form>
  <iframe class="iframe-custom" src="https://lottie.host/embed/a57c41ff-0af6-4e65-8987-e82f1c60775b/NUxGvojmK5.json"></iframe>
</div>
<p class="mt-3 mb-3 text-center text-muted">JobFinder &copy; 2023</p>
